* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.inline-block {
    display: inline-block;
}

.vertical-middle {
    vertical-align: middle;
}

.text-small {
    font-size: 11px;
}

.text-big {
    font-size: 25px;
    margin: 5px;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #878787;
    font-size: 12px;
}

.xs-none {
    display: none;
}
.padding-title {
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #878787;
}

/**************************************************/

main {
    background-color: #380f0f;
    height: 100vh;
    overflow: auto;
    padding-bottom: 100px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #282828;
    padding: 10px;
    width: 100%;
    bottom: 0;
}


.side-list {
    background-color: black;
    float: left;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.side-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px 12px;
}

.logo {
    max-width: 100%;
}

.logo .hero-logo-small {
    max-width: 25px;
    min-width: 25px;
    padding: 15px 0;
}


.logo .hero-logo-big {
    max-width: 200px;
    min-width: 45px;
    width: 90%;
    padding: 20px 0;
}

.side-container-icons img{
    max-width: 20px;
    min-width: 20px;
}

.side-container-icons div {
    padding: 5px 0;
}

.side-container-icons div span {
    vertical-align: super;
}

.playlist {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.playlist-container {
    flex-grow: 1;
}

.my-playlist {
    flex-grow: 1;
    overflow: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.my-playlist ul {
    list-style: none;
    flex-grow: 1;
    overflow: auto;
}

.my-playlist li {
    padding: 5px 0;
}

.add-playlist  i{
    font-size: 22px;
    vertical-align: middle;
}




.side-container-bottom {
    padding: 10px 0;
}

.side-container-bottom img{
    height: 90%;
    vertical-align: middle;
}

.install {
    height: 45%;
    border-bottom: 1px solid grey;
}

.install img {
    width: 15px;
    height: 15px;
}

.user {
    height: 55%;
    padding-top: 6px;
}


.user img {
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

























.right-container {
    float: left;
    background-color: #111319;
    width: 90%;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.upgrade-container {
    background-color: #111319;
    padding: 16px 25px;
    text-align: right;
}

.upgrade-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 0px;
    display: inline-block;
    overflow: hidden;
    transition: transform .2s;
}

.upgrade-btn:hover {
    transform: scale(1.1);
}

.upgrade-btn a{
    text-decoration: none;
    font-weight: 600;
    padding: 10px 14px;
}

.main-container {
    background-color: #1B1E26;
    padding: 20px;
}

.main-menu {
    padding: 10px 0;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    line-height: 25px;
    padding: 5px;
}

.main-menu li a {
    text-decoration: none;
    color: #878787;
    font-weight: 600;
}

.main-menu li a:hover {
    color: white;
}

.underline {
    text-decoration: none; 
    position: relative;
}

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px; 

    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: #AEFF38;
    display: none;
}

.underline:hover:after {
    display: block;

}

.recently-played h2 {
    padding: 10px 0;
}

.recently-played-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.song-container {
    width: calc(100% / 2 - 5px);
    text-align: center;
    overflow: hidden;
    padding-bottom: 15px;
}

.song-container h4 {
    padding-top: 10px;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.img-container:hover .overlay {
    display: block;
}

.song-container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.created-for {
    padding: 10px 0;
    line-height: 20px;
}

.created-for-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.popular-artists {
    padding: 10px 0;
}

.popular-artists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.song-container .artist-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
    border-radius: 50%;
}











.nav-bottom-left {
    display: flex;
    align-items: center;
    width: 30%;
    flex-shrink: 1;
}

.nav-bottom-left-img {
    width: 20%;
    height: 20%;
    max-width: 50px;
    max-height: 50px;
    min-width: 20px;
    min-height: 20px;
}

.nav-bottom-left-img img {
    width: 100%;
    height: 100%;
    min-width: 40px;
    object-fit: cover;
}

.nav-bottom-left-text {
    padding: 0px 10px;
    line-height: 14px;
    margin-left: 15px;
}

.nav-bottom-left-icons {
    text-align: center;
}

.nav-bottom-center {
    width: 50%;
    text-align: center;
    flex-shrink: 3;
}

.nav-bottom-center-icons {
    line-height: 30px;
}

.nav-bottom-center-icons a {
    padding: 7px;
}

.far.fa-play-circle {
    padding: 0 3px;
    transition: transform .2s;
}

.far.fa-play-circle:hover {
    transform: scale(1.5);
}

.nav-bottom-center-bar .time {
    vertical-align: middle;
}

.bottom-center-bar {
    width: 60%;
    height: 8px;
    background-color: #5a5a5a;
    border-radius: 10px;
    margin: 0 10px;
}

.bar-time{
    /* width: 30%; */
    width: 0%;
    height: 8px;
    background-color: #bebebe;
    border-radius: 10px;
    transition: width 30s linear;
}

.bottom-center-bar:hover .bar-time {
    background-color: #AEFF38;
    width: 100%;
}



.circle {
    position: relative;
}

.circle:after {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background: white;
    display: none;
}

.bottom-center-bar:hover .circle::after {
    display: block;
}

.nav-bottom-right {
    width: 30%;
    text-align: right;
    flex-shrink: 1;
}

.nav-bottom-right-icons a {
    padding: 5px;
}

.bottom-right-bar {
    width: 40%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 3px;
}

.bar-volume{
    width: 30%; 
    height: 5px;
    background-color: #bebebe;
    border-radius: 10px;
}

.bottom-right-bar:hover .bar-volume {
    background-color: #AEFF38;
}

.bottom-right-bar:hover .circle::after {
    display: block;
}

/*********************Screen 550px - 992px **************************/
@media screen and (min-width: 550px) and (max-width: 992px) {

    .xs {
        display: none;
    }

    .xs-none {
        display: inline-block;
    }
    
     .side-list {
        min-width: 150px;
        max-width: 150px;
    }

    .right-container {
        width: calc(100% - 150px);
    }

    .song-container {
        width: calc(100% / 4 - 5px);
        text-align: center;
        overflow: hidden;
    }
}

@media screen and (min-width: 993px) and (max-width: 2600px) {

    .xs {
        display: none;
    }

    .xs-none {
        display: inline-block;
    }
    
     .side-list {
        min-width: 150px;
        max-width: 150px;
    }

    .right-container {
        width: calc(100% - 150px);
    }

    .song-container {
        width: calc(100% / 6 - 5px);
        text-align: center;
        overflow: hidden;
    }

    nav .text-small {
        font-size: 14px;
    }
}



