* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.inline-block {
    display: inline-block;
}

.vertical-middle {
    vertical-align: middle;
}

.text-small {
    font-size: 10px;
}

.text-big {
    font-size: 25px;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #878787;
    font-size: 12px;
}

/**************************************************/

main {
    background-color: #380f0f;
    height: 100vh;
    overflow: auto;
    padding-bottom: 100px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #282828;
    padding: 10px;
    width: 100%;
    bottom: 0;
}


.side-list {
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
}

.right-container {
    float: left;
    background-color: #111319;
    width: 90%;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.upgrade-container {
    background-color: #111319;
    padding: 16px 10px;
    text-align: right;
}

.upgrade-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 0px;
    display: inline-block;
    overflow: hidden;
}

.upgrade-btn a{
    text-decoration: none;
    font-weight: 600;
    padding: 10px 14px;
}

.main-container {
    background-color: #1B1E26;
    padding: 20px;
}

.main-menu {
    padding: 10px 0;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    line-height: 25px;
    padding: 5px;
}

.main-menu li a {
    text-decoration: none;
    color: #878787;
    font-weight: 600;
}

.recently-played h2 {
    padding: 10px 0;
}

.recently-played-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.song-container {
    width: calc(100% / 2 - 5px);
    height: 260px;
    text-align: center;
    overflow: hidden;
}

.song-container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
}

.created-for {
    padding: 10px 0;
    line-height: 20px;
}

.created-for-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.popular-artists {
    padding: 10px 0;
}

.popular-artists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.song-container .artist-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
    border-radius: 50%;
}












.nav-bottom-left {
    display: flex;
    align-items: center;
    width: 30%;
    flex-shrink: 1;
}

.nav-bottom-left-img {
    width: 20%;
    height: 20%;
    max-width: 50px;
    max-height: 50px;
    min-width: 20px;
    min-height: 20px;
}

.nav-bottom-left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-bottom-left-text {
    padding: 0px 10px;
    line-height: 14px;
}

.nav-bottom-left-icons {
    text-align: center;
}

.nav-bottom-center {
    width: 50%;
    text-align: center;
    flex-shrink: 3;
}

.nav-bottom-center-icons {
    line-height: 30px;
}

.nav-bottom-center-icons a {
    padding: 5px;
}

.far.fa-play-circle {
    padding: 0 3px;
}

.nav-bottom-center-bar .time {
    vertical-align: middle;
}

.bottom-center-bar {
    width: 40%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
    margin: 0 10px;
}

.nav-bottom-right {
    width: 30%;
    text-align: right;
    flex-shrink: 1;
}

.nav-bottom-right-icons a {
    padding: 5px;
}

.bottom-right-bar {
    width: 40%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 3px;
}